.v-application, .v-application .headline {
    font-family: 'Google Sans', sans-serif !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.table-row-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.v-card {
    margin: 10px;
}

td:hover {
    background-color: #eee;
}

.tippy-tooltip.google-theme {
    color: white;
    background-color: blue;
}

.tippy-tooltip.google-theme .tippy-content {
    font-family: 'Google Sans', sans-serif;
}

.tippy-tooltip.google-theme[x-placement^='top'] .tippy-arrow {
    border-top-color: blue;
}

.tippy-tooltip.google-theme[x-placement^='left'] .tippy-arrow {
    border-left-color: blue;
}

.tippy-tooltip.google-theme[x-placement^='right'] .tippy-arrow {
    border-right-color: blue;
}